/* Make admin page body match our custom design */
body.toplevel_page_entrydashboard #screen-meta,
body.toplevel_page_entrydashboard #wpfooter,
body.forms-entries_page_entrydashboard-settings .notice,
body.forms-entries_page_form-entries-migration .notice,
body.toplevel_page_entrydashboard .notice:not(.notice-error.fem-notice) {
	display: none;
}

body.toplevel_page_entrydashboard,
body.forms-entries_page_entrydashboard-settings,
body.forms-entries_page_form-entries-migration  {
	background: #DDD !important;
	background-repeat: no-repeat;
	background-size: cover;
}

.fem-admin-page {
	background: #DDD;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
	padding: 1rem;
	font-family: 'Inter', system-ui, sans-serif;
	color: #1f2937; /* text-gray-800 */
}

/* Optional: Remove WP’s default max width */
.fem-admin-page .wrap {
	max-width: 100% !important;
	padding: 0;
}

[x-cloak] {
	display: none !important;
}

@media (max-width: 639px) {
	.hide-on-mobile {
	display: none !important;
	}
}
@media (min-width: 640px) {
	.hide-on-mobile {
	display: block !important;
	}
}
